<app-header></app-header>

<div class="sfondo">
  <video autoplay muted loop class="video-background" loading="lazy">
    <source src="assets/video/p2.mp4" type="video/mp4">
    Il tuo browser non supporta il tag video.
  </video>

  <div class="video-overlay"></div>

  <div class="d-flex justify-content-center spazio animate-top">
    <div class="titolo">
      Benvenuto sul mio<br>sito web
    </div>
  </div>


  <div class="d-flex justify-content-center spazio3 animate-top">
    <div class="testo container">
      <p>Ciao e benvenuto sul mio sito web! Questo spazio è il cuore della mia attività, un punto di partenza per
        scoprire chi sono e cosa posso offrirti. Sono un programmatore, artista, e content creator: qui puoi esplorare
        le mie passioni, i progetti che ho realizzato e i servizi che metto a disposizione. Lasciati ispirare e scopri
        tutto ciò che amo creare e condividere.</p>

    </div>
  </div>

  <div class="container spazio3 animate-top">
    <div class="divider"></div>
  </div>

  <div class="d-flex justify-content-center spazio2 animate-top">
    <div class="titolo2">
      Che ne dici?
    </div>
  </div>

  <div class="d-flex justify-content-center animate-top">
    <div class="testo container">
      <p>Esplora il mio sito e scopri tutto ciò che potrebbe interessarti! Potresti trovare argomenti o progetti che fanno al caso tuo.</p>

    </div>
  </div>


</div>

<!--SLIDER-->
<section class="sliderSection">

  <div class="d-flex justify-content-center">
    <h1 class="spazio3">IN PRIMO PIANO</h1>
  </div>

    <app-slider-home></app-slider-home>

</section>

<section class="sfondo2">
  <video autoplay muted loop class="video-background" loading="lazy">
    <source src="assets/video/p4.mp4" type="video/mp4">
    Il tuo browser non supporta il tag video.
  </video>

  <div class="d-flex justify-content-center">
    <h1 class="spazio2">
      Vuoi scoprire chi sono?
    </h1>
  </div>

  <div class="d-flex justify-content-center">
    <div class="titolo2 ">
      Vieni a conscermi!
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button class="myButton" routerLink="/chisono">Chi sono</button>
  </div>


</section>




<app-footer></app-footer>
