<app-header></app-header>

<div class="sfondo">
  <video autoplay muted loop class="video-background">
    <source src="assets/video/p8.mp4" type="video/mp4">
    Il tuo browser non supporta il tag video.
  </video>


  <div class="d-flex justify-content-center spazio animate-top">
    <div class="titolo">
      Contatti
    </div>
  </div>


  <div class="container spazio3 animate-top">
    <div class="divider"></div>
  </div>

  <div class="d-flex justify-content-center spazio2 animate-top">
    <div class="titolo2">
      Restiamo in contatto!
    </div>
  </div>

  <div class="d-flex justify-content-center animate-top">
    <div class="testo container">
      <p>Scrivimi per collaborazioni o domande.</p>
    </div>
  </div>



</div>

<section class="sfondoContatti">

</section>


<app-footer></app-footer>
