<div id="main">
  <div id="left">
    <div id="menus">
      <!-- Canvas per l'effetto di evidenziazione -->
      <canvas id="menu-highlight" width="800" height="600"></canvas>

      <!-- Menu items con binding Angular per mouseover -->
      <div class="italic highlight" (mouseover)="highlight($event)">
        Home
      </div>
      <div class="italic" (mouseover)="highlight($event)">
        Chi sono
      </div>
      <div class="italic" (mouseover)="highlight($event)">
        Progetti
      </div>
      <div class="italic" (mouseover)="highlight($event)">
        Contatti
      </div>
      <div class="italic" (mouseover)="highlight($event)">
        loot box
      </div>


    </div>



</div>
