<div id="main">
  <div id="menus">


    <!-- Canvas per l'effetto di evidenziazione -->
    <canvas id="menu-highlight" width="auto" height="50vh"></canvas>



    <ul>
    <div class="contLogo">
      <img src="assets/immaginiGenerali/nakamalogo.png" class="logo">
    </div>

      <li>
        <div class="italic voce" routerLink="/home" routerLinkActive="highlight" (mouseover)="highlight($event)">
          Home
        </div>
      </li>
      <li>
        <div class="italic" routerLink="/chisono" routerLinkActive="highlight" (mouseover)="highlight($event)">
          Chi sono
        </div>
      </li>
      <li>
        <div class="italic" routerLink="/progetti" routerLinkActive="highlight" (mouseover)="highlight($event)">
          Progetti
        </div>
      </li>
      <li>
        <div class="italic" routerLink="/contatti" routerLinkActive="highlight" (mouseover)="highlight($event)">
          Contatti
        </div>
      </li>


      <!--Social-->
      <!-- <div class="contSocial">
        <a class="normal" target="_blank" href="https://www.instagram.com/_nakamayt/"><i
            class="fa-brands fa-instagram"></i></a>
        <a class="normal" target="_blank" href="https://www.youtube.com/channel/UC8rQxh_mjGtKiBQJkixhYGQ"><i
            class="fa-brands fa-youtube"></i></a>
        <a class="normal" target="_blank" href="https://www.facebook.com/alessandro.panico.397/?locale=it_IT"><i
            class="fa-brands fa-facebook"></i></a>
        <a class="normal" target="_blank" href="https://www.linkedin.com/in/alessandro-panico-4b974b272/"><i
            class="fa-brands fa-linkedin"></i></a>
      </div> -->

      <section class="sectionLanguage" (mouseenter)="showDropdown()" (mouseleave)="hideDropdown()">
        <img src="assets/icons/flag/{{ selectedFlag }}.jpg" class="flag main-flag">

        <div class="dropdownMenu" *ngIf="isDropdownVisible">
          <div
            class="dropdownItem"
            *ngFor="let flag of flags"
            (click)="selectFlag(flag)">
            <img src="assets/icons/flag/{{ flag }}.jpg" class="flag dropdown-flag">
          </div>
        </div>
      </section>






    </ul>





  </div>
</div>
