@font-face {
  font-family: overwatch;
  src: url(https://us.battle.net/forums/static/fonts/f014015d/f014015d.woff);
}

@font-face {
  font-family: overwatch-italic;
  src: url(https://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.woff);
}

* {
  cursor: url(https://cdn.discordapp.com/attachments/303406782104207362/315839175406649345/Overwatch.cur), auto;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


#main {
  background-color: rgb(0 0 0 / 83%);
  margin-top: 2vh;
  top: 0;
  width: 99%;
  margin-left: 0.5vw;
  border-radius: 0.5vw;
  height: 10vh;
  padding: 0.5vw;
  backdrop-filter: blur(10px);
  /* Effetto sfocatura */
  position: fixed;
  box-shadow: 0px 0.3vw 0.4vw rgba(0, 0, 0, 0.5);
  /* Optional: aggiunge un'ombra per l'effetto "frosted glass" */
  z-index: 9999;
}




#logo {
  position: relative;
  padding: 7px 0 0 30px;
  opacity: 0.9;



}

#menus {
  position: relative;
  height: auto;


  .italic {
    position: relative;
    cursor: pointer;
    left: 0;
    font-family: overwatch2;
    font-style: italic;
    font-size: 2.5vw;
    color: #fff;
    text-shadow: 0px 0px 3px #cecece;
    transform-origin: bottom;
    transition: none;
    /* Rimuovi qualsiasi transizione */
    z-index: 9999;
  }

  .italic:hover {
    /* Rimuovi il movimento e l'ingrandimento */
    transform: none;
    /* Disabilita qualsiasi effetto di trasformazione */
    text-shadow: 0px 0px 0.5vw #bb7e29;
    /* Puoi mantenere il cambio di ombra del testo */
  }

  .italic.highlight {
    color: #f3c026;
    text-shadow: 0px 0px 0.5vw #bb7e29;

  }

  .normal {
    position: relative;
    left: 0;
    line-height: 1.7;
    font-family: overwatch;
    font-size: 24px;
    color: #e3f2ff;
    text-shadow: 0 0 0.3vw #336cec;
    transform-origin: bottom;
    transition: none;
    /* transition: all .05s ease-in; */
  }

  .normal:hover {
    transform: none;
    color: #fff;
  }
}

#menu-highlight {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  /* Imposta l'opacità iniziale a 0 */
  transition: opacity 0.5s ease;
  /* Aggiungi una transizione lenta su opacity */
}




li {
  list-style: none;
}

ul {
  display: flex;
  align-items: center;
  gap: 4%;
  /* Spazio tra le voci */
}

.contSocial {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  gap: 15%;
  margin-right: 5vw;
  margin-top: 1vh;
}

.fa-brands {
  font-size: 2vw;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.contLogo {
  background-color: rgb(240, 100, 20);
  position: absolute;
  /* margin-left: -2.55vw; */
  height: 9.99vh;
  /* margin-top: -0.17vh; */
  width: 7vw;
  left: -0.5vw;
  top: -0.5vw;
  border-top-left-radius: 0.5vw;
  border-bottom-left-radius: 0.5vw;
  align-items: center;
  display: flex;
  justify-content: center;
}

.logo {
  width: 5vw;
  height: auto;
}

.voce {
  margin-left: 7.5vw;
}

/*---------------------------*/

.sectionLanguage {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  margin-right: 5vw;
  flex-direction: column;
  background-color: rgb(0 0 0 / 83%);
}




.flag {
  width: 4vw;
  height: auto;
  cursor: pointer;
}



.dropdownMenu {
  position: absolute;
  top: 165%;
  background-color: rgb(0 0 0 / 83%);
  border-radius: 0.5vw;
  box-shadow: 0px 0.3vw 0.4vw rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  backdrop-filter: blur(10px);
  flex-direction: column;
  width: 7vw;
  height: 7vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.dropdownItem {
  /* padding: 5px 10px; */
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* .dropdownItem:hover {
  background-color: #797979;
} */

.contArrow {
  display: flex;
  align-items: center;
}

.fa-angle-down {
  color: white;
  margin-left: 0.5vw;
}


/*------------------------------------------------*/

.mobile {
  display: none;
}

.desktop {
  display: block;
}

@media screen and (max-width:600px) {

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  #main {
    height: 8vh;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    padding: 2.5vw;
  }

  /* Sidebar Menu */
  .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    /* Fuori dalla vista inizialmente */
    width: 70vw;
    height: 130vh;
    background-color: rgb(0 0 0 / 95%);
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
  }

  /* Quando il menu è attivo, viene mostrato */
  .sidebar.active {
    left: 0;
  }

  /* Contenitore dell'hamburger */
  .hamburger {
    cursor: pointer;
    font-size: 2rem;
    color: white;
  }


  .mobilelogo {
    width: 10vw;
    position: absolute;
    left: 50%;
  }

  .contHamburger {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  #menus {
    position: relative;
    height: auto;


    .italic {
      position: relative;
      cursor: pointer;
      left: 0;
      font-family: overwatch2;
      font-style: normal;
      font-size: 10vw;
      color: #fff;
      text-shadow: 0px 0px 3px #cecece;
      transform-origin: bottom;
      transition: none;
      /* Rimuovi qualsiasi transizione */
      z-index: 9999;
    }



  }

  ul {
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 0;
    left: 17%;
  }


  .sidebar{
    margin-top: 1vh;
  }

  .fa-bars:before, .fa-navicon:before {
    content: "\f0c9";
    display: flex;
    font-size: 7vw;
}


}
