.sfondo {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Copre l'intera area senza distorsioni */
  z-index: -2;
  /* Assicura che il video stia dietro il contenuto */
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.588);
  /* Sfondo nero con opacità 0.5 (puoi regolare l'opacità) */
  z-index: -1;
  /* Assicura che l'overlay sia sopra il video ma sotto il contenuto */
}


.sfondoChiSono {
  background: url(/assets/immaginiHome/2.jpg);
  /* Centra e non ripete l'immagine */
  background-size: cover;
  /* Adatta l'immagine all'area */
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  /* Punto e virgola aggiunto */
}


.angelo {
  font-size: 8.167vw;
  color: #f3c026;
  animation: _ngcontent-ng-c1234002673_glow 1s infinite alternate;
  text-shadow: 0 0 10px #bb7e29;
  position: absolute;
  margin-top: -3vh;
}

/*Bagliore*/
@keyframes glow {
  0% {
    text-shadow: 0 0 20px #bb7e29;
    /* Stato iniziale del bagliore (aumenta la larghezza) */
  }

  100% {
    text-shadow: 0 0 40px #bb7e29, 0 0 60px #bb7e29;
    /* Stato finale del bagliore (aumenta ancora la larghezza) */
  }
}
