<app-header></app-header>

<section class="sfondo">
  <video autoplay muted loop class="video-background" loading="lazy">
    <source src="assets/video/p5.mp4" type="video/mp4">
    Il tuo browser non supporta il tag video.
  </video>

  <div class="video-overlay"></div>

  <div class="d-flex justify-content-center spazio animate-top">
    <div class="titolo">
      Alessandro<br>
      Panico
    </div>
  </div>

  <div class="container spazio3 animate-top">
    <div class="divider"></div>
  </div>

  <div class="d-flex justify-content-center spazio2 animate-top">
    <div class="titolo2">
      Pronto a scoprire la mia storia?
    </div>
  </div>

  <div class="d-flex justify-content-center animate-top">
    <div class="testo container">
      <p>Entra nel mio mondo e scopri chi sono!</p>
    </div>
  </div>

  <div class="d-flex justify-content-center animate-top">
    <div class="angelo">
      黒
    </div>
  </div>


</section>


<section class="sfondoChiSono ">

  <div class="container narrower-container ">

    <div class="row">

      <div class="col spazio2">

        <div class="col spazio2 animate-left">


          <div class="animate-left">
            <div class="divFoto">
              <img src="assets/immaginiChiSono/profilo.jpg" class="immagineProfilo">
            </div>
          </div>
        </div>




      </div>


      <div class="col spazio2 animate-right">
        <div>
          <div>
            <h1>
              Chi sono
            </h1>

            <div class="testoChiSono">
              <p>Ciao a tutti, mi chiamo Alessandro Panico e, come avrete ormai intuito, questo è
                il
                mio sito web.
                Un sito web "genitore", dove parla di "me stesso" e, tramite le voce del menù,
                si
                estende (vedi progetti).
                Chi sono è semplice: un ragazzo che ha una storia da raccontare e delle opere da
                condividere: che sia programmazione o arte.
                Sono nato nel 22/09/1995, ho fatto tante esperienze, ho conosciuto tante
                persone.
                Sono stato a stretto contatto con il mondo
                della ristorazione, cercato di far parte del mondo dell'arte in quanto sono ex
                studente della <strong>Scuola Italiana di Comix</strong>.
                Peccato che viviamo in un paese dove dei giovani c'è se ne approfitta e, per
                continuare con artista, ci volevano non pochi soldi.
                Non solo, stavo anche aprendo un attività con un movimento che preveda un
                prestito
                ma, causa guerra in Ucraina con l'aumento delle tasse, arrivederci e grazie
                anche a questo sogno. Mi sarebbe piaicuto avere una Sala LAN dove poter creare
                una
                comunity di gamer e poter creare anche magliette e gadget personalizzate.
                Ne sono successe veramente di tutti i colori e, dopo aver avuto altre sofferenze
                di
                cui non posso rivelarne l'idendità, a febbraio 2023, decido di
                entrare a far parte del mondo della programmazione, dove già ebbi il primo
                contatto
                alle scuole superiori.
              </p>
            </div>

          </div>
        </div>
      </div>


    </div>


  </div>

  <div class="container spazio3">
    <div class="divider"></div>
  </div>



  <div class="d-flex justify-content-center ">
    <h1 class="spazio3 animate-top">
      Obiettivi
    </h1>
  </div>

  <div class="container narrower-container">


      <div class="testoObiettivi animate-top">
        <p>Quali possono essere mai i miei obiettivi? <strong>MIGLIORARE!</strong></p>

        <p>Si, desidero migliorare in ogni campo della programmazione. Vi raccomando di tenere d'occhio la
          voce <a routerLink="/progetti">progetti</a> del menù, in quanto è sempre in aggiornamento.
          Cosa faccio nella vita è chiaro. Sono un programmatore. Per ora i linguaggi che conosco sono: </p>

        <ul>
          <li>Java</li>
          <li>HTML/CSS</li>
          <li>Javascript</li>
          <li>Typescript</li>
          <li>Php</li>
          <li>MySQL</li>
          <li>C#</li>
        </ul>


        <p>Sto cercando di imparare sempre di più e voglio arrivare sempre più in alto. Spero di riuscire a
          realizzare i miei progetti e migliorare i linguaggi sopra citati.
          Ma adesso ti invito a cliccare sul bottone che trovi in basso perché ho una storia da
          raccontarti. Una storia molto importante, che riguarda anche te.
        </p>
      </div>

      <div class="d-flex justify-content-center animate-top">
        <button class="myButton" routerLink="/progetti">Progetti</button>
      </div>


    </div>


</section>


<app-footer></app-footer>
