<app-header></app-header>

<section class="sfondo">
  <video autoplay muted loop class="video-background">
    <source src="assets/video/p5.mp4" type="video/mp4">
    Il tuo browser non supporta il tag video.
  </video>

  <div class="video-overlay"></div>

  <div class="d-flex justify-content-center spazio">
    <div class="titolo">
      Alessandro<br>
      Panico
    </div>
  </div>


  <div class="container spazio3">
    <div class="divider"></div>
  </div>

  <div class="d-flex justify-content-center spazio2">
    <div class="titolo2">
      Ti va di ascoltare la mia storia?
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div class="testo container">
      <p>Vieni a conoscermi da vicino!</p>

    </div>
  </div>



</section>


<section class="sfondoChiSono">


</section>
