.sfondo {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Copre l'intera area senza distorsioni */
  z-index: -2;
  /* Assicura che il video stia dietro il contenuto */
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.588);
  /* Sfondo nero con opacità 0.5 (puoi regolare l'opacità) */
  z-index: -1;
  /* Assicura che l'overlay sia sopra il video ma sotto il contenuto */
}


.sfondoChiSono {
  background: url(/assets/immaginiHome/2.jpg);
  background-size: cover;
  width: 100%;
  height: auto;
  position: relative;
}

/* Aggiungi un overlay scuro */
.sfondoChiSono::after {
  content: '';
  /* Necessario per creare un elemento */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Sovrappone un filtro scuro semi-trasparente */
  z-index: 1;
  /* Assicura che l'overlay sia sopra l'immagine di sfondo */
}

.container {
  z-index: 99;
  position: relative
}

.angelo {
  font-size: 8.167vw;
  color: #f3c026;
  animation: _ngcontent-ng-c1234002673_glow 1s infinite alternate;
  text-shadow: 0 0 10px #bb7e29;
  margin-top: -3vh;
}

/*Bagliore*/
@keyframes glow {
  0% {
    text-shadow: 0 0 20px #bb7e29;
    /* Stato iniziale del bagliore (aumenta la larghezza) */
  }

  100% {
    text-shadow: 0 0 40px #bb7e29, 0 0 60px #bb7e29;
    /* Stato finale del bagliore (aumenta ancora la larghezza) */
  }
}


/*----------------------*/
.narrower-container {
  max-width: 70%;
  /* Larghezza massima desiderata per il container */
  margin: 0 auto;
  /* Per centrare il container orizzontalmente */
}


.quadrato {
  background-color: rgb(240, 100, 20);
  font-family: overwatch2;
  text-align: center;
  font-size: 2.5vw;
  color: rgb(255, 255, 255);
  padding: 1vw;
  z-index: 11;
  position: absolute;
  margin-left: 16vw;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  width: 5vw;
}

.divFoto {
  position: relative;

}

.immagineProfilo {
  width: 19vw;
  margin-top: 5vh;
  position: relative;
}

.animation-container {
  position: relative;
}


h1 {
  color: rgb(255, 255, 255);
  text-shadow: 0 4px 10px hsla(0, 0%, 100%, .4);
  font-family: overwatch2;
  line-height: 1;
  z-index: 10;
  font-size: 5vw;
}


.testoChiSono {
  text-align: left;
  color: white;
}


/*-----------------------------------*/


.testoObiettivi a {
  color: #f3c026;
  text-decoration: none;
  z-index: 9999;
  font-weight: bold;
}



.testoObiettivi {
  color: rgb(255, 255, 255);
  text-align: left;
  margin-top: 5vh;
}


@media screen and (max-width:600px) {

  .sfondo {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }



  .titolo {
    font-size: 10vw;
    font-family: akira;
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 1;
    z-index: 10;
  }

  .testo {
    color: white;
    font-size: 4vw;
    text-align: center;
    margin-bottom: 2vh;
  }

  .titolo2 {
    font-size: 10vw;
    font-family: overwatch2;
    text-align: center;
    color: white;
    line-height: 1;
    z-index: 10;
    font-style: italic;
  }

  .angelo {
    font-size: 20vw;
    color: #f3c026;
    animation: _ngcontent-ng-c1234002673_glow 1s infinite alternate;
    text-shadow: 0 0 10px #bb7e29;
    margin-top: -3vh;
    margin-bottom: 2vh;
  }


  h1 {
    color: rgb(255, 255, 255);
    text-shadow: 0 4px 10px hsla(0, 0%, 100%, .4);
    font-family: overwatch2;
    text-align: center;
    line-height: 1;
    z-index: 10;
    font-size: 20vw;
  }

  .immagineProfilo {
    width: 100%;
    margin-top: 5vh;
    position: relative;
  }

  .narrower-container .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }



}
