<swiper-container [breakpoints]="breakpoints" [autoplay]="autoplay" [loop]="loop" [loop-additional-slides]="2"
  [navigation]="false" [ngStyle]="{
                    '--swiper-navigation-color': '#f3c026',
                    '--swiper-navigation-size': '5vw',
                    '--swiper-navigation-left': '2vw',
                    '--swiper-navigation-right': '2vw',
                    '--swiper-navigation-sides-offset': '2vw'
                  }" autoplay="true">

  <swiper-slide *ngFor="let slide of slides; let i = index">

      <div class="card" (click)="navigateTo(slide.route)">
        <div class="img-hover-zoom">
          <img [src]="slide.imgSrc" class="immCard" [alt]="slide.altText">
        </div>
        <div class="card-body">
          <h1 class="card-title">{{ slide.title }}</h1>
          <p class="card-text">{{ slide.description }}</p>
        </div>
      </div>

  </swiper-slide>
</swiper-container>
