<app-header></app-header>

<section class="sfondo">
  <video autoplay muted loop class="video-background">
    <source src="assets/video/p6.mp4" type="video/mp4">
    Il tuo browser non supporta il tag video.
  </video>

  <div class="video-overlay"></div>

  <div class="d-flex justify-content-center spazio animate-top">
    <div class="titolo">
      Progetti
    </div>
  </div>

  <div class="container spazio3 animate-top">
    <div class="divider"></div>
  </div>

  <div class="d-flex justify-content-center spazio2 animate-top">
    <div class="titolo2">
      Pronto a scoprire chi sono davvero?
    </div>
  </div>

  <div class="d-flex justify-content-center animate-top">
    <div class="testo container">
      <p>
        Immergiti nel mio mondo e lasciati ispirare dai miei progetti e dalla mia storia. Scopri cosa posso fare per te!
      </p>
    </div>
  </div>
</section>

<section class="sfondoProgetti">
  <div class="desktop">
    <div class="d-flex justify-content-center ">
      <div class="contCard spazio2">
        <div class="row ">

          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="img-hover-zoom">
                <img src="assets/immaginiGenerali/profilo.jpg" class="immCard"
                  alt="This zooms-in really well and smooth">
              </div>
              <div class="card-body">
                <h1 class="card-title">Card title</h1>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="img-hover-zoom">
                <img src="assets/immaginiGenerali/profilo.jpg" class="immCard"
                  alt="This zooms-in really well and smooth">
              </div>
              <div class="card-body">
                <h1 class="card-title">Card title</h1>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="img-hover-zoom">
                <img src="assets/immaginiGenerali/profilo.jpg" class="immCard"
                  alt="This zooms-in really well and smooth">
              </div>
              <div class="card-body">
                <h1 class="card-title">Card title</h1>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="img-hover-zoom">
                <img src="assets/immaginiGenerali/profilo.jpg" class="immCard"
                  alt="This zooms-in really well and smooth">
              </div>
              <div class="card-body">
                <h1 class="card-title">Card title</h1>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="img-hover-zoom">
                <img src="assets/immaginiGenerali/profilo.jpg" class="immCard"
                  alt="This zooms-in really well and smooth">
              </div>
              <div class="card-body">
                <h1 class="card-title">Card title</h1>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="img-hover-zoom">
                <img src="assets/immaginiGenerali/profilo.jpg" class="immCard"
                  alt="This zooms-in really well and smooth">
              </div>
              <div class="card-body">
                <h1 class="card-title">Card title</h1>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
