.sfondo {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.588);
  z-index: -1;
}

/* Contenitore per centrare l'immagine */
.glow-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Effetto bagliore sull'immagine */
@keyframes glow {
  0% {
    filter: drop-shadow(0 0 20px #bb7e29);
  }

  100% {
    filter: drop-shadow(0 0 40px #bb7e29) drop-shadow(0 0 60px #bb7e29);
  }
}

.glow-img {
  width: 15vw;
  /* Imposta la dimensione desiderata */
  height: auto;
  animation: glow 1.5s infinite alternate;
  /* Effetto pulsante */
}

.card a {
  text-decoration: none;
  color: white;
}

/*-----------------------------------*/


.sfondoProgetti {
  background: url(/assets/immaginiHome/2.jpg);
  background-size: cover;
  width: 100%;
  height: auto;
  position: relative;
}


.contCard {
  width: 90%;
  margin-bottom: 5vh;
}

/* Impostazioni generali della card */
.card {
  flex-shrink: 0;
  border: none;
  border-radius: 0;
  width: 25vw;
  background: radial-gradient(124.81% 124.81% at 50% -.29%, #422424 43.75%, #121524 100%);
  /* background: radial-gradient(124.81% 124.81% at 50% -.29%, #242a42 43.75%, #121524 100%); */
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: white;
}

.card:hover .zoom-img {
  transform: scale(1.1);
}

.card-body {
  height: 25vh;
  z-index: 999;
  overflow: hidden;
  /* Impedisce che l'immagine esca dalla card */
  position: relative;
}


/*-------------------------*/

.img-hover-zoom {
  width: 25vw;
  overflow: hidden;
  position: relative;
}

.img-hover-zoom img {
  transition: transform 0.5s ease;
  transform: scale(1);
  object-fit: cover;
}

.img-hover-zoom:hover img {
  transform: scale(1.1);
  z-index: -1;
  position: relative;
}

.immCard {
  width: 100%;
  height: auto;
  z-index: -1;
  position: relative;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

h1 {
  color: rgb(255, 255, 255);
  text-shadow: 0 4px 10px hsla(0, 0%, 100%, .4);
  font-family: overwatch2;
  text-align: left;
  line-height: 1;
  z-index: 10;
  font-size: 5vw;
}

.card-title {
  color: rgb(255, 255, 255);
  text-shadow: 0 4px 10px hsla(0, 0%, 100%, .4);
  font-family: overwatch2;
  text-align: left;
  line-height: 1;
  z-index: 10;
  font-size: 3vw;
}

.sfondo2 {
  background: url(/assets/immaginiProgetti/spazio.jpg);
  background-size: cover;
  width: 100%;
  height: 40vh;
  background-position: center;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
}


/*-------------------------*/
/*---MEDIA SCREEN---*/

@media screen and (max-width:600px) {

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .sfondo {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }


  .titolo {
    font-size: 10vw;
    font-family: akira;
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 1;
    z-index: 10;
  }

  .testo {
    color: white;
    font-size: 4vw;
    text-align: center;
    margin-bottom: 2vh;
  }

  .titolo2 {
    font-size: 10vw;
    font-family: overwatch2;
    text-align: center;
    color: white;
    line-height: 1;
    z-index: 10;
    font-style: italic;
  }

  h1 {
    color: rgb(255, 255, 255);
    text-shadow: 0 4px 10px hsla(0, 0%, 100%, .4);
    font-family: overwatch2;
    text-align: center;
    line-height: 1;
    z-index: 10;
    font-size: 20vw;
  }

  .glow-img {
    width: 20vw;
    height: auto;
    margin-bottom: 2vh;
    animation: _ngcontent-ng-c4236082470_glow 1.5s infinite alternate;
  }

  .contenitore{
    margin-bottom: 5vh;
  }



}
