<footer class="sfondo">

  <div class="d-flex justify-content-center ">
    <div class="titolo spazio2">
      RESTA CONNESSO
    </div>
  </div>

  <div class="container spazio3">
    <div class="divider"></div>
  </div>

  <div class="d-flex justify-content-center ">
    <div class="titolo2 spazio3">
      Seguimi sui miei social!
    </div>
  </div>


  <section class="contSocial">
    <a class="normal" target="_blank" href="https://www.instagram.com/_nakamayt/"><i
        class="fa-brands fa-instagram"></i></a>
    <a class="normal" target="_blank" href="https://www.youtube.com/channel/UC8rQxh_mjGtKiBQJkixhYGQ"><i
        class="fa-brands fa-youtube"></i></a>
    <a class="normal" target="_blank" href="https://www.facebook.com/alessandro.panico.397/?locale=it_IT"><i
        class="fa-brands fa-facebook"></i></a>
    <a class="normal" target="_blank" href="https://www.linkedin.com/in/alessandro-panico-4b974b272/"><i
        class="fa-brands fa-linkedin"></i></a>
  </section>



  <section class="nomeSection container">
    <div class="cont">
      <div class="nome">
        Alessandro "Nakama" Panico
      </div>

      <div class="bordoArrow">
        <i routerLink="/home" class="fa-solid fa-arrow-up"></i>
      </div>
    </div>

  </section>


</footer>
