.sfondo {
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url("/assets/immaginiFooter/2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;
  /* Assicura che il footer copra l'intero viewport */
}

.nomeSection {
  margin-top: 2vh;
  position: relative;
}


.sfondo::before {
  /* Oscura lo sfondo */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Oscura lo sfondo con trasparenza */
  z-index: 1;
}

.cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 900;
  position: relative;
}

.bordoArrow {
  background-color: rgb(240, 100, 20);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5vw;
  font-size: 2.5vw;
  color: white;
  transition: 0.2s;
  cursor: pointer;
  width: 4vw;
}


.bordoArrow:hover {
  background-color: rgb(241, 116, 43);
  transition: 0.2s;

}


.contSocial {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 900;
  position: relative;
  margin-top: 1vh;
}

.fa-brands {
  font-size: 2.5vw;
  cursor: pointer;
  margin-left: 1vw;
}


@media screen and (max-width:600px) {

  .sfondo{
    height: 72vh;
  }

  .titolo {
    font-size: 10vw;
    font-family: akira;
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 1;
    z-index: 10;
  }

  .titolo2 {
    font-size: 12vw;
    font-family: overwatch2;
    text-align: center;
    color: white;
    line-height: 1;
    z-index: 10;
    font-style: italic;
  }

  .fa-brands {
    font-size: 10vw;
    cursor: pointer;
    margin-left: 1vw;
  }

  .cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 900;
    position: relative;
    flex-direction: column;
    gap: 5vw;
  }

  .contSocial{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 900;
    position: relative;
    margin-top: 2vh;
}

  .nome {
    font-size: 7vw;
    font-family: "Poppins", Helvetica, Arial, sans-serif, "Microsoft YaHei";
    line-height: 1;
    text-align: center;
    z-index: 9999;
    color: white;
    position: relative;
  }

  .bordoArrow {
    width: 20vw;
    height: auto;
    font-size: 15vw;
    }

}
